.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
      background: url("background.png");

}

header {
        display: block;
            background-color: black;
                width: 100%;
                    height: 5em;
                        color: white;
                            font-family: 'Roboto', sans-serif;
                              
}
#headerButtons {
        list-style-type: none;
            margin: 0;
                padding-right: 5em;
                    float: left;
                      
}

#headerLogo {
        display: inline-block;
            margin-top: 25vh;
                font-size: 40px;
                    font-family: 'Monoton', cursive;
                        color:black;
                            padding-bottom: .3em;
                                border-bottom-style: solid;
                                    border-bottom-color: black;
                                        border-bottom-width: 1px;
                                          
}   

#headerLogo a {
        text-decoration:none;
            color:black;
              
}

.navButton {
        display: inline-block;
            padding: 1em;
                font-size: 18px;
                    color: white;
                      
}

.navButton a {
        text-decoration:none;
          
}

.navButton #blog {
        float: right;
          
}

.navButton:hover {
        color:#caccce;
            text-decoration: none; 
              
}

.navButton a:active {
        text-decoration:none;
            color: red;
              
}

#content {
        font-family: 'Roboto', sans-serif;
            text-align: center;
                height: 100vh;
                    width: 100%;
                      
}

#content h3 {
        margin-top: 0;
          
}

footer {
        display: block;
            width: 100%;
                height: 50px;
                    background-color: black;
                        color: white;
                          
}
